body{
background-image:url("pics\ \(2\).jpeg");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0px;
color: white;

}
.nav ul{
    display: flex;
    gap: 40px;
    font-size: 20px ;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    list-style-type: none;
    text-transform: capitalize;
     
}
.nav ul li a{
    color: white;
    text-decoration: none;
    

}
.nav ul li a:hover{
    color:gold;

}
.left{
    margin: 30px;
}
.left h1{   
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px gray;
    padding-top: 20px;
    color: white;
} 
.left p{
    padding-top: 20px;
    font-size: 20px;
}
.left h2{
    text-transform: capitalize;
} 
.left ol li{
    margin-left:-20px ;
    text-transform: capitalize;
}

.left footer p{

    height: 30px;
    width: 90vw;
    text-align: center;
    margin-top: 200px;
    color:white;
    font-weight: bolder;
    font-size: 25px;
}